<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Интерактивное соревнование{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="/static/logo.png" alt="iSCHOOL — Школа инженерного резерва ТИУ" class="logo-image">
            <div class="header-title">Школа инженерного резерва ТИУ</div>
        </div>
    </header>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>